{% extends 'base.html' %}

{% block body %}
Hello world!


<p><a href="{{ url_for('.add_singer')}}"> Add a new singer</a></p>

{% with messages = get_flashed_messages() %}
 {% if messages %}
 <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash">
   {% for message in messages %}
   <strong>Alert!</strong> {{ message }}
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
   </button>
   {% endfor %}
   {% endif %}
   {% endwith %}
 </div>

{% if singer %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>first name</th>
                <th>last name</th>
            </tr>
        </thead>

        <tbody>
            {% for row in singer %}
            <tr>
                <td> {{ row.singerid }}</td>
                <td> {{ row.first_name }}</td>
                <td> {{ row.last_name }}</td>
                  <td>

        <form action="{{ url_for('singer', singer_id=row.singerid) }}" method="POST">

            <input type="submit" value="Details" class="btn btn-info" />

        </form>

      </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
